
body {
    background-color: #754B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#container{ 
    display: flex;  
    flex-wrap: wrap;
    background-color: #F3DBB2; 
    border: solid purple; 
    width: 400px; 
    height: 400px; 
}